<div class="reserve-new">
   <div class="row">
      <div class="reserve-new-nav">
        <h4>予約内容の確認</h4>
        <h5><%= @room.fee %>/日</h5>
        <div class="reserve-new-detail">
          <%= form_with model: @reservation,url:"/reservations/create"  do |f| %>
          <%= f.hidden_field :rooms_id, :value => @room.id %>
          <%= f.hidden_field :reserve_id, :value => @reservation.id %>
          <div class="confirm-field">
            <%= f.label :start_time,"開始日" %>
            <%= f.text_field :start_time, value: @reservation.set_time_2, readonly: true %>
            <%= f.hidden_field :start_time, readonly: true %>
          </div>
           <div class="confirm-field">
            <%= f.label :end_time,"終了日" %>
            <%= f.text_field :end_time, value: @reservation.set_time_3, readonly: true %>
            <%= f.hidden_field :end_time,readonly: true %>
          </div>
          <div class="confirm-field">
            <p>宿泊日数：<%= @days %>日</p>
          </div>
          <div class="confirm-field">
            <%= f.label :people,"人数" %>
            <%= f.text_field :people, value: @reservation.people, readonly: true %>
            <%= f.hidden_field :people,readonly: true %>
          </div>
          <div class="confirm-field">
            <%= f.label :total_amount,"合計金額" %>
            <%= f.text_field :total_amount, value: @reservation.total_amount, readonly: true %>
            <%= f.hidden_field :total_amount,readonly: true %>
          </div>
          <p>上記内容でよろしければ「予約を確定」を押してください</p>
            <div class="reserve-action"><%= f.submit "予約確定" %></div>
            <div class="back-action"><%= f.submit "予約内容を再編集する",name: "back" %></div>
          <% end %>
        </div>
      </div>
   </div> 
    
    
    
    
</div>